/My Collection.bib
/credentials.r
/data/
/figures/
/imprecision_logic.bbl
/imprecision_logic.pdf
/imprecision_logic.spl
/mpah_coi_disclosure.docx
/pc_coi_disclosure.docx
/jalm_submission_notes.org
/.Rhistory
/REB correspondence.doc
/imprecision_logic.docx
/imprecision_logic_revision.docx
/review_comments.org
